.sec-gauche{
  float : left;
  margin-right: 150px;
}
h1 {
  text-align: center;
  color: #3475A1;
  font-family: 'Modak', cursive;
  font-size: 90px;
}
h2 {
  color: white;
}
#id-form{
  margin-right: 310px;
}
#id-langues{
  margin-right: 280px;
}
#id-ae{
  margin-right: 310px;
}
.page-header{
  height:250px;
}
.photo{
  float:right;
  margin-bottom:2rem;
}
.info{
  float: left;
  background-color: #3475A1;
  border-radius: 10px;
  padding: 10px;
  color : white;
  font-family: 'ZCOOL XiaoWei', serif;
}
.enc{
  background-color: #3475A1;;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: center;

}
#id-ci{
  text-align: left;
  padding-left: 400px;
}
strong{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
/*body{
background-size: contain;
color:black;
background-color:white;
background-image:url(images/developpeur.jpeg);
}*/
@media (max-width: 980px) {
  .sec-gauche {
    font-size: 0.5rem;
  }
  .sec-droite {
    font-size: 0.5rem;
  }
  #id-form{
    margin-right: 10px;
  }
  .sec-gauche{
    margin-right: 210px;
  }
  #id-form{
    margin-right: 280px;
  }
  #id-ae{
    margin-right: 295px;
  }
  #id-ci{
    text-align: left;
    padding-left: 335px;
  }
}
