.sec-gauche{
  float : left;
  margin-right: 150px;
}
h1 {
  text-align: center;
}
h2 {
  color: blue;
}
#id-form{
  margin-right: 310px;
}
#id-langues{
  margin-right: 280px;
}
#id-ae{
  margin-right: 310px;
  te
}
.page-header{
  height:250px;
}
.photo{
  float:right;
  margin-bottom:
}
.info{
  float: left;
}
.enc{
  padding-left: 300px;
  background-color: lightblue;
  font-family: 'ZCOOL XiaoWei', serif;

}
.id-ci{
  float: none;
}
strong{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
